@font-face {
  font-family: CastorTwo;
  src: url('./fonts/CastorTwo/Castor-Two.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: GreycliffCF;
  src: url('./fonts/GreycliffCF/GreycliffCF-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: GreycliffCF;
  src: url('./fonts/GreycliffCF/GreycliffCF-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: GreycliffCF;
  src: url('./fonts/GreycliffCF/GreycliffCF-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
