@import 'react-toastify/dist/ReactToastify.css';
@font-face {
  font-family: CastorTwo;
  src: url("./fonts/CastorTwo/Castor-Two.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: GreycliffCF;
  src: url("./fonts/GreycliffCF/GreycliffCF-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: GreycliffCF;
  src: url("./fonts/GreycliffCF/GreycliffCF-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: GreycliffCF;
  src: url("./fonts/GreycliffCF/GreycliffCF-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
:root {
  /*font family*/
  --font-family-heading: "CastorTwo", sans-serif;
  --font-family-body: "GreycliffCF", sans-serif;
  /* font-size */
  --fs-1: 24px;
  --fs-2: 18px;
  --fs-3: 17px;
  --fs-4: 16px;
  --fs-5: 15px;
  --fs-6: 14px;
  --fs-7: 13px;
  --fs-8: 11px;
  /* font-weight */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  /**
   * shadow
   */
  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
  --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);
  /**
   * transition
   */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease-in-out;
  /* gradient */
  --bg-gradient-onyx: linear-gradient(to bottom right, hsl(240, 1%, 25%) 3%, hsl(0, 0%, 19%) 97%);
  --bg-gradient-jet: linear-gradient(
      to bottom right,
      hsla(240, 1%, 18%, 0.251) 0%,
      hsla(240, 2%, 11%, 0) 100%
    ),
    hsl(240, 2%, 13%);
  --bg-gradient-yellow-1: linear-gradient(
    to bottom right,
    hsl(45, 100%, 71%) 0%,
    hsla(36, 100%, 69%, 0) 50%
  );
  --bg-gradient-yellow-2: linear-gradient(
      135deg,
      hsla(45, 100%, 71%, 0.251) 0%,
      hsla(35, 100%, 68%, 0) 59.86%
    ),
    hsl(240, 2%, 13%);
  --border-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(0, 0%, 25%) 0%,
    hsla(0, 0%, 25%, 0) 50%
  );
  --text-gradient-yellow: linear-gradient(to right, hsl(180, 42%, 51%), hsl(180, 100%, 25%));
  /* color */
  --jet: hsl(0, 0%, 22%);
  --onyx: hsl(240, 1%, 17%);
  --eerie-black-1: hsl(240, 2%, 13%);
  --eerie-black-2: hsl(240, 2%, 12%);
  --smoky-black: hsl(0, 0%, 7%);
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 98%);
  --teal-2: hsl(180, 42%, 51%);
  --teal-1: hsl(180, 100%, 25%);
  --light-gray: hsl(0, 0%, 84%);
  --light-gray-70: hsla(0, 0%, 84%, 0.7);
  --bittersweet-shimmer: hsl(0, 43%, 51%);
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  padding-bottom: 0 !important;
  text-rendering: optimizeLegibility;
  font-family: var(--font-family-body);
  font-size: 16px;
  font-weight: 400;
}

body {
  color: #000000;
  background-color: #ffffff;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  font-family: var(--font-family-body);
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  body {
    -webkit-tap-highlight-color: transparent;
  }
}
body.opened {
  overflow: hidden;
  padding-right: var(--scroll-bar-width) !important;
}
body h1,
body h2,
body h3,
body h4,
body .h1,
body .h2,
body .h3,
body .h4 {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: #252525;
  font-family: var(--font-family-heading);
}
body h1 p,
body h2 p,
body h3 p,
body h4 p,
body .h1 p,
body .h2 p,
body .h3 p,
body .h4 p {
  margin: 0;
  padding: 0;
}
body h1,
body .h1 {
  font-size: 36px;
  font-weight: 400;
}
@media (min-width: 768px) {
  body h1,
  body .h1 {
    font-size: 46px;
  }
}
body h2,
body .h2 {
  font-size: 32px;
  font-weight: 400;
}
@media (min-width: 768px) {
  body h2,
  body .h2 {
    font-size: 28px;
  }
}
body h3,
body .h3 {
  font-size: 22px;
  font-weight: 400;
}
@media (min-width: 768px) {
  body h3,
  body .h3 {
    font-size: 24px;
  }
}
body h4,
body .h4 {
  font-size: 20px;
  font-weight: 700;
}
body input,
body select,
body textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #000000;
  background-color: #ffffff;
  font-size: 14px;
  font-family: var(--font-family-body);
  font-weight: 400;
  line-height: 1.5rem;
  border: 1px solid #ebebeb;
}
body input:focus,
body select:focus,
body textarea:focus {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.03);
  outline: none;
}
body input,
body select {
  height: 42px;
  padding: 6px 15px;
}
body input[type=submit],
body input[type=button] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
body input::-webkit-outer-spin-button,
body input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body select::-ms-expand {
  display: none;
}
body input::-webkit-input-placeholder,
body textarea::-webkit-input-placeholder,
body input::-moz-placeholder,
body textarea::-moz-placeholder {
  color: rgba(36, 36, 39, 0.6);
  line-height: 1.5;
  font-kerning: normal;
}
body input:focus {
  outline-offset: 0px;
}
body textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 158px;
  padding: 10px 15px;
}
body details summary {
  list-style: none;
}
body details summary::-webkit-details-marker {
  display: none;
}
body *,
body *:before,
body *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
body :focus {
  outline: none;
}
body .section-content {
  position: relative;
}
body .slider-controls button {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 8px;
  background: #ffffff;
  color: #252525;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
@media (min-width: 768px) {
  body .slider-controls button {
    display: flex;
  }
}
body .slider-controls button[disabled] {
  opacity: 0;
  visibility: hidden;
}
@media (min-width: 1025px) {
  body .slider-controls button:hover {
    color: #006bb6;
  }
}
body .slider-controls button span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 10.5px 31.49999px 0px rgba(148, 163, 184, 0.35);
}
body .slider-controls .slider-prev-button {
  left: 0;
}
body .slider-controls .slider-next-button {
  right: 0;
}

/* Keyframes animation */
@keyframes mmfadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  overflow-x: hidden;
}
