node_modules

/.cache
/build
/dist
/public/build
/.mf

.DS_Store

package-lock.json
yarn.lock

.env

*.development
*.production

.log

# config.ts
# config.*.ts
config.development.ts
config.production.ts
